@model CommentViewModel
@{
    ViewData["Title"] = "Comment";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Write a Review</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/cjs/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Brass Instrument Reviews</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/Instrument">Instruments</a>
                <a class="nav-item nav-link" href="/Instrument/Review">Write a Review</a>
                <a class="nav-item nav-link active" href="/Instrument/Reviews">See the Reviews</a>
                <a class="nav-item nav-link" href="/Admin">Administration</a>
                @using Microsoft.AspNetCore.Identity
                @using BrassInstrumentReviews.Models
                @inject SignInManager<Reviewer> signInManager
                @if (signInManager.IsSignedIn(User))
                {
                    // signed-in user sees Log Out button and username
                    <li class="nav-item">
                        <form method="post" asp-action="LogOut" asp-controller="Account" asp-area="">
                            <input type="submit" value="Log Out"
                                   class="btn btn-outline-light" />
                            <span class="text-light">@User.Identity.Name</span>
                        </form>
                    </li>
                }
                else
                {
                    // anonymous user sees Register and Log In links
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Register"
                           asp-controller="Account" asp-area="">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Login"
                           asp-controller="Account" asp-area="">Log In</a>
                    </li>
                }
            </div>
        </nav>
    </nav>
    <h1>Comment Form</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post" class="container">
        <div>
            <label asp-for="CommentText">Comment Text:</label>
            <textarea asp-for="CommentText" placeholder="Write your comment here."></textarea>
        </div>
        @*<div>
            <label asp-for="Commenter">Commenter Name:</label>
            <input asp-for="Commenter" />
        </div>*@
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</body>
</html>