<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/cjs/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Brass Instrument Reviews</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link active" href="/">Home</a>
                <a class="nav-item nav-link" href="/Instrument">Instruments</a>
                <a class="nav-item nav-link" href="/Instrument/Review">Write a Review</a>
                <a class="nav-item nav-link" href="/Instrument/Reviews">See the Reviews</a>
            </div>
        </nav>
    </nav>
    <div class="text-center">
        <h1>Brass Instrument Reviews</h1>
    </div>
    <p>
        This site will allow you to add your own brass instrument reviews, as well as view other users'
        reviews.
    </p>
</body>
</html>